/* form.module.css */

/* Base styling for the entire page */

  
  /* General styling for text and inputs */

  /* .hyundaibody{
    background-color:#EBECF0;
  }
   */
/* input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
} */
  
  /* Styling for the form container */
  .getInTouch {
    padding: 2rem; /* Add padding to the container */
    width: 80%;
    margin: 0 auto; /* Center the container horizontally */
  }

  
  /* Optional: Additional styling for form components */
  

  .footer {
	background: #02091a;
	margin-top: 10px;
}

.getInTouch {
	margin:5rem auto;
	margin-bottom: 0rem;
	/* padding: 2rem; */
	width: 90%;
	border: 2px solid;
	border-radius: 5px;
	display: flex;
}
.getInTouchCard {
	margin: 2rem auto;
	width: 40%;
}
.getInTouchCard h1 {
	text-align: left;
	font-size: 3rem;
}
.getInTouchCard p {
	margin-top: 1rem;
	font-size: 1.5rem;
}
.contactCard {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}
.contactIcon {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	color: aliceblue;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contactValue {
	margin-left: 2rem;
	font-size: 2rem;
}

@media (max-width: 768px) {
	.getInTouch {
		flex-direction: column;
	}
	.getInTouchCard {
		width: 90%;
	}
	.contactIcon {
		width: 3rem;
		height: 3rem;
	}
	.contactValue {
        margin-left: 1rem;
		font-size: 1.5rem;
	}
}



.getInTouch {
  position: relative; /* Position relative to allow for absolute positioning of children if needed */
  margin-bottom: 50px;
}

.oneform {
  position: absolute; /* Use absolute positioning to control visibility based on scroll */
  top: 50%; /* Initially position the form at 50% of the viewport height */
  left: 0;
  width: 100%;
  transform: translateY(-50%); /* Adjust to center the form vertically relative to its top position */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for visibility */
}

.oneform.visible {
  opacity: 1; /* Make visible when class 'visible' is added */
}

.twoform {
  /* Additional styling for the Two component if needed */
}
