.Inputs {
  border: 0;
  outline: 0;
  font-size: 16px;
  /* border-radius: 320px; 16px * 20 */
  padding: 16px;
  /* background-color: #EBECF0; */
  /* text-shadow: 1px 1px 0 #FFF; */
}

  
 label {
  display: block;
  margin-bottom: 16px*1.5;
  width: 100%;
}

.Inputs{
  font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
    width: 100%;
}


.Inputs {
  margin-right: 8px; /* 16px / 2 */
  /* box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; */
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

.btndiv{
  display: flex;
}


.btndiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px; /* Adds space between the buttons, adjust as needed */
  margin-top: 20px;
}

.sendBtn {
  /* Optional: Add styling to the sendBtn wrapper if needed */
}

button {
  /* Style your button here if needed, for example: */
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #505152;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #929395;
}

button:disabled {
  background-color: #494545;
  cursor: not-allowed;
}