.contactFormCard {
    /* margin: 20px;
    padding: 20px; */
    background-color: #fff;
    border-radius: 4px;
}

.contactFormCard form {
    display: flex;
    flex-direction: column;
}

.Inputs {
    margin-bottom: 15px; /* Adjust this value to set the space between input fields */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100%; /* Makes the input field take up the full width of the parent container */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.invalidInput {
    border-color: red;
}

.sendBtn {
    margin-top: 20px;
}
